*~
.DS_Store
*.sublime-project
*.sublime-workspace

.idea/*
.settings/*
vendor
composer.phar
cache/*
web/sitemap*.xml
external/*/web/js/dynamicjs/global.min.js
external/*/web/js/dynamicjs/i2global.min.js
external/base/lang/id/translation.php
external/*/solr/*/conf/_rest_managed.json
external/*/solr_cloud/*/_rest_managed.json
external/*/solr/*/data/*
external/*/solr_cloud/*/data/*
web/packed/*
node_modules
composer/*

web/external/*
